<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDCtdmYSeVuvlqcFv7Jaiov7WpMQNncUPQ</string>
	<key>GCM_SENDER_ID</key>
	<string>497153413479</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.test.dhruv.insta-clone-2-0</string>
	<key>PROJECT_ID</key>
	<string>instacloneios-1762e</string>
	<key>STORAGE_BUCKET</key>
	<string>instacloneios-1762e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:497153413479:ios:082e4464af97616a205fc2</string>
</dict>
</plist>